h3 {
	color: #00897b;
	font-weight: bold;
}

.h5-articles {
	/*font-weight: bold;*/
	display: inline-block;
	line-height: 0%;
}

.fondoTextoSlider {
	background: rgba(0,0,0,.6);
	border-radius: 10px;
	padding: 10px;
}
/*
aside {
	margin: 0;
	padding: 0;
}*/
.contenedor-card-padre {
	display: flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:flex-start;
}

.contenedor-card {
	flex-grow:1;
	width: 250px;
	margin-right: 1%;
}

.panel-header {
	margin: auto;
	padding-left: 20px;
	padding-bottom: 2px;
	padding-top: 2px;
	color: #fff;
	font-weight: bold;
}
/*
ul li a:hover {
	background: #ffb74d;
}*/

@media screen and (max-width: 992px){

	.contenedor-card-padre {
		flex-direction:row;
		flex:0;
	}

	.contenedor-card-padre .contenedor-card {
		flex-grow:1;
	}
}


@media screen and (max-width: 293px){

	.contenedor-card-padre {
		flex-direction:column;

	}
	
	.contenedor-card-padre .contenedor-card {
		flex-grow:1;
	}
}