h3 {
	color: #00897b;
	font-weight: bold;
}

.fondoTextoSlider {
	background: rgba(0,0,0,.6);
	border-radius: 10px;
	padding: 10px;
}
/*
aside {
	margin: 0;
	padding: 0;
}*/

.panel-header {
	margin: auto;
	padding-left: 20px;
	padding-bottom: 2px;
	padding-top: 2px;
	color: #fff;
	font-weight: bold;
}
/*
ul li a:hover {
	background: #ffb74d;
}*/