* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h3, h5, h6 {
	color: #00897b;
	font-weight: bold;
}

.social {
	position: fixed;
	left: 0;
	top: 260px;
	z-index: 2000;
}

.social ul {
	list-style:none;
}

.social ul li a {
	display: inline-block;
	color: white;
	background: blue;
	font-size: 20px;
	padding: 10px 15px;
	text-decoration: none;
}

.social ul li .icon-facebook {
	background: #3b5998;
} 

.social ul li .icon-twitter {
	background: #55acee;
} 

.social ul li .icon-instagram {
	background: #fcaf45;
} 

.social ul li .icon-linkedin2 {
	background: #313335;
} 

.social ul li .icon-google-plus {
	background: #dc4e41;
} 

.size-p{
	font-size: 20px;
} 

.lista:hover {
	background: #f9b520;
}

.text-white {
	color: #fff;
}

.text-black {
	color: #000000;
}

.h5-articles {
	color: #fff;
	display: inline-block;
}

.margin-nav {
	margin-bottom: 25px;
}

.border-nav-1 {
	border-bottom: 5px solid #000000;
	line-height: 58px;
}

.border-nav-2 {
	border-bottom: 5px solid #ffca28;
	line-height: 58px;
}

.border-nav-3 {
	border-bottom: 5px solid #00796b;
	line-height: 58px;
}

.border-nav-4 {
	border-bottom: 5px solid #002B71;
	line-height: 58px;
}

.border-nav-5 {
	border-bottom: 5px solid #ff7043;
	line-height: 58px;
}

.border-nav-6 {
	border-bottom: 5px solid #7cb342;
	line-height: 58px;
}

.border-nav-7 {
	border-bottom: 5px solid #9575CD;
	line-height: 58px;
}

.border-nav-movil-1 {
	border-left: 5px solid #000000;
}

.border-nav-movil-2 {
	border-left: 5px solid #ffca28;
}

.border-nav-movil-3 {
	border-left: 5px solid #00796b;
}

.border-nav-movil-4 {
	border-left: 5px solid #002B71;
}

.border-nav-movil-5 {
	border-left: 5px solid #ff7043;
}

.border-nav-movil-6 {
	border-left: 5px solid #7cb342;
}

.border-nav-movil-7 {
	border-left: 5px solid #9575CD;
}

.border-nav-movil-1:hover, .border-nav-movil-2:hover, .border-nav-movil-3:hover, .border-nav-movil-4:hover, .border-nav-movil-5:hover, .border-nav-movil-6:hover, .border-nav-movil-7:hover {
	background: #ffbb8e;
	color: #fff;
}

.logo-nav {
	width: 180px;
}

.menu-fixed {
	position: fixed;
	z-index: 1000;
	top:0;
	width: 100%;
}

/*.aside-fixed{
	position: fixed;
	z-index: 1000;
	top:40px;
}*/

.icon-white {
	color: #fff;
}

.contentTituloArticle {
	height: 150px;
	line-height: 20px;
}

.contentTituloArticle p {
	font-size: 15px;

}

.fondoTextoSlider {
	background: rgba(0,0,0,.6);
	border-radius: 10px;
	padding: 10px;
}

.border-bn {

	border-bottom: 3px;
	border-color: yellow;
}

.contenedor-card-padre {
	display: flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:flex-start;
}

.contenedor-card {
	flex-grow:1;
	width: 250px;
	margin-right: 1%;
}

.panel-header {
	margin-bottom: 1px;
	padding-left: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	color: #fff;
	font-weight: bold;
}

.container-wigdet {
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;

}

.sitiosWeb {
	border: 1px solid #e0e0e0;
	text-align: center;
}

/*.panel-videos:hover {
	background: blue;
}*/

.font-s-19 {
	font-size: 19px;
}

.collapsible-header:hover {
	background-color: #fff;
}

.titulo_articulo {
	text-align: center;
}

.subtitulo_articulo {
	text-align: right;
	padding-right: 30px;
}

.articulos {
	padding: 20px 80px;
}

@media screen and (max-width: 992px){

	.contenedor-card-padre {
		flex-direction:row;
		flex:0;
	}

	.contenedor-card-padre .contenedor-card {
		flex-grow:1;
	}
}


@media screen and (max-width: 293px){

	.contenedor-card-padre {
		flex-direction:column;

	}
	
	.contenedor-card-padre .contenedor-card {
		flex-grow:1;
	}
}